// ==========================================================================
// Image Gen & Save area
// ==========================================================================

.image-preview {
  // Container
  display: flex;
  flex-direction: column;
  @include sizing(gap, flex-gap, subsection);
  
  h3 {
    margin: 0;
    text-align: center;
  }
}

.image-container {
  // Container
  display: flex;
  flex-direction: column;
  @include sizing(gap, flex-gap, subsection);
  width: 100%;

  // Container Styling
  @include sizing(border-radius, border-radius, subsection);
  @include sizing(padding, padding, subsection);
  background-color: var(--colour-background-tertiary);

  // ADD TEXT SHADOW
  text-shadow: var(--colour-text-shadow);

  // Redo - 
  .button-container {
    display: flex;
    justify-content: space-around;
  }
}
.generated-image {
  .hide {
    display: none;
  }
}
.status-container {
  text-align: center;
}


.user-area {
  // Container
  display: flex;
  flex-direction: column;
  @include sizing(gap, flex-gap, subsection);

  overflow-y: hidden;
  max-height: 100%;

  h4 {
    margin: 0;
  }
}

#missing-email, #verified-email {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @include sizing(gap, flex-gap, subsection);
}
.user-info-email {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  @include sizing(gap, flex-gap, subsection);
}
#current-email {
  font-weight: 700;
  text-wrap: wrap;
}

.user-saved-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include sizing(gap, grid-gap, subsection);
  @include mq(m) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include mq(l) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mq(xl) {
    grid-template-columns: repeat(3, 1fr);
  }

  overflow-y: auto;
}

// Changes with JS only
#verified-email {
  display: none;
}