// ==========================================================================
// Global Config
// ==========================================================================

// Path to Assets
$path-img: '../img/';
$path-font: '../fonts/';

// Icon Fonts from icomoon
@font-face {
  font-family: 'icomoon';
  src:  url('#{$path-font}icomoon.eot?ky9gej');
  src:  url('#{$path-font}icomoon.eot?ky9gej#iefix') format('embedded-opentype'),
    url('#{$path-font}icomoon.ttf?ky9gej') format('truetype'),
    url('#{$path-font}icomoon.woff?ky9gej') format('woff'),
    url('#{$path-font}icomoon.svg?ky9gej#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

// Font Stacks, Import & Variable
$font-url--poppins: 'https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap';
@include font-import($font-url--poppins);
$font-family--primary: 'Poppins', sans-serif;

// Color Usage
$color-palettes: (
  lightmode: (
    background: (
      base: #E4E3E3,
      secondary: #84A9AC,
      tertiary: #3B6978,
      accent: #204051,
    ),
    text: (
      base: #204051,
      contrast: #E4E3E3,
      shadow: 0px 0px 5px rgba(255,255,255,0.2),
    ),
  ),
  darkmode: (
    background: (
      base: #204051,
      secondary: #3B6978,
      tertiary: #84A9AC,
      accent: #E4E3E3,
    ),
    text: (
      base: #E4E3E3,
      contrast: #204051,
      shadow: 0px 0px 5px rgba(0,0,0,0.3),
    ),
  ),
  shared: (
    button: (
      box-shadow: "inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.2)",
      save: #0ab242,
    ),
  )
);

// Padding
$padding-medium: 15px;
$padding-large: 30px;

// Font Sizing
$font-size-heading: 2rem;

// Element Sizing
$element-size-heading-padding: 20px;
$element-size-heading-height-buttons: 3rem;
$element-size-main-margin: 30px;

// Grid Variables
$grid-gap-small: 10px;
$grid-gap-medium: 20px;
$grid-gap-large: 30px;

// Page Sizing
$page-size-total: 100vh;
$page-size-heading: calc((#{$element-size-heading-padding} * 2) + #{$element-size-heading-height-buttons});
$page-size-main: calc(#{$page-size-total} - #{$page-size-heading});

// Borders
$border-radius-small: 5px;
$border-radius-medium: 15px;
$border-radius-large: 30px;

// Breakpoints
$break-small: 480px;
$break-medium: 768px;
$break-large: 992px;
$break-extra-large: 1260px;

// Content Width
$cont-max-width-small: 450px;
$cont-max-width-medium: 750px;
$cont-max-width-large: 970px;
$cont-max-width-extra-large: 1200px;