// ==========================================================================
// Container
// ==========================================================================

.container {
  width: 100%;
  margin: 0 auto;
  @include sizing(padding-left, padding, container-hori);
  @include sizing(padding-right, padding, container-hori);
  @include mq(m) {
    width: $cont-max-width-medium;
  }
  @include mq(l) {
    width: $cont-max-width-large;
  }
  @include mq(xl) {
    width: $cont-max-width-extra-large;
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rounded-large {
  @include sizing(padding, padding, main-container);
  @include sizing(border-radius, border-radius, main);
}

.main-grid {
  // Sizing
  max-height: 100%;
  // Colour
  background-color: var(--colour-background-secondary);
  // Grid Variables
  display: grid;
  grid-template-columns: 1fr;
  @include sizing(gap, grid-gap, main);
  @include mq(l) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
  }
}