// ==========================================================================
// Container
// ==========================================================================

.container {
  width: 100%;
  margin: 0 auto;
  padding-left: $padding-medium;
  padding-right: $padding-medium;
  @include mq(m) {
    width: $cont-max-width-medium;
  }
  @include mq(l) {
    width: $cont-max-width-large;
  }
  @include mq(xl) {
    width: $cont-max-width-extra-large;
  }
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rounded-large {
  padding: $padding-large;
  border-radius: $border-radius-large;
}

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  @include mq(l) {
    grid-template-columns: repeat(2, 1fr);
  }
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: var(--colour-background-secondary);
}