// ==========================================================================
// Header at the top of the screen
// ==========================================================================

header {
  background-color: var(--colour-background-secondary);
  padding: 20px;
  h2 {
    margin: 0;
    font-size: 30px;
  }
}


